@use 'variables' as *;
@use 'animations' as *;
@use 'mixins' as *;


.contact{
  position: relative;
  overflow: hidden;
  margin:30px;
  background-color: $darkViolet;
  text-align: center;
  padding: 60px 40px;

  img{
    position:absolute;
    top:-27%;
    right: -34%;
  }
  button{
    z-index: 1;
  }
  @include breakpoints-up(large){
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2{
      width: 58%;
      text-align: left;
    }
    img{
      top: -49%;
      right: -4%;
    }
  }
}